* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    width: 100%;
    background-image: url(/img/Fondo.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 60px;
}

input {
    outline: 0;
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.boton {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #555355;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 0.3em;
    font-weight: bold;
}

.boton:hover {
    transition: 0.1s;
    background-color: hotpink;
    color: black;
    font-weight: bold;
}

.formularioLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: white;
    width: min(30em, 100%);
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}